<% include ../../partials/head %>

<h1>All the stuff :)</h1>

<% for(var idx in questions) { %>
    <h3> <%= questions[idx].title %> </h3>
    <img src="<%= questions[idx].image %> " alt="<%= questions[idx].title %>" id="img_quest">
    
    <% if(!questions[idx]._answer.length) { %>
        <form action="answers/<%= questions[idx]._id %>" method="get">
            <a href="answers/<%= questions[idx]._id %>">Add Answers to this Question</a>
        </form>
    <% } else { %>
        <%for(var ans = 0; ans < questions[idx]._answer.length; ans++) { %>
            <h3>Answers: </h3>
            <% for(var ansIdx = 0; ansIdx < questions[idx]._answer[ans].response.length; ansIdx++) {%>
                <p><%= questions[idx]._answer[ans].response[ansIdx] %></p>
            <% } %>
        <% } %>
    <% } %>
    <br>
    <hr>
<% } %>
