<h1>All the stuff :)</h1>

<% questions.forEach(function(question) { %>
    <h5> <%= question.title %> </h5>
    <img src="<%= question.image %> " alt="<%= question.title %>" id="img_quest">
    <br>
    <form action="answers/<%= question._id %>" method="get">
        <a href="answers/<%= question._id %>">Add Answers to this Question</a>
    </form>
    <hr>
<% }); %>
